{%- if section.settings.heading -%}
    <h1>{{ section.settings.heading }}</h1>
{%- endif -%} 
    
{%- if section.settings.content -%}
    <p>{{ section.settings.content }}</p>
{%- endif -%}   

{%- if section.settings.main_image -%}
    <img src={{ section.settings.main_image }} alt={{ section.settings.heading }} />
{%- endif -%}   