<h1 class="landing-page__headline">
    "{{ section.settings.headline }}"
</h1>


{%comment%}
*
* Settings
*
{%endcomment%}
{% schema %}
{
    "name": "Landing Page",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "headline",
            "label": "Headline"
        }
    ]
}
{% endschema %}

<style>
    .landing-page__headline {
        font-size: 2vw;
        max-width: calc(100% - 90px);
        margin: 20px auto;
        text-align: center;
        text-transform: lowercase;
        font-family: 'Panama Italic';
    }
</style>