{%comment%}
*
* Slideshow
*
{%endcomment%}
<div class="slideshow-container">
    {% for block in section.blocks %}

        <div class="slide">
            <img src="{{block.settings.image | img_url: 'master' }}" alt={{ block.settings.alt }} />
        </div>
        

    {% endfor %}
</div>



{% schema %}
{
  "name": "Spotlight",
  "tag": "section",
  "class": "spotlight",
  "limit": 1,
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
            "type": "text",
            "id": "alt-text",
            "label": "Alt Text"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {},
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Slideshow"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "templates": ["article", "index", "page"]
}
{% endschema %}
