.slideout-menu__container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.6);
    z-index: 99;
}
.slideout-menu__container .row {
    display: inline-block;
    background: #eaeaea;
    padding: 10px 40px 10px 30px;
    height: 100%;
    width: auto;
}
.slideout-menu__container img {
    width: 40px;
}


